{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": "./dist",
    "target": "esnext",
    "loose": true,
    "minify": {
      "mangle": true,
      "compress": {
        "defaults": true,
        "arguments": true
      }
    }
  },
  "test": ".*\\.js$",
  "minify": true
}
